body {
  //width: 500px;
}

.empty-sign {
  padding: 15px;
  color: #333;
}

.dw {
  display: flex;
  flex-direction: row;
  padding-right: 10px;

  .icon {
    padding: 15px;
  }

  .info {
    width: 100%;

    .filename {
      width:450px;
    }

    .filepath {
      color: gray;
      font-size: 11px;
      width: 200px;
    }

    .filesize {
      color: gray;
      font-weight: 600;
      font-size: 11px;
    }
  }

  .actions {
    padding: 10px 0;
  }
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  cursor: pointer;
}
